body {
    background-color: #f8f9fa;
  }
  
  .hero {
    background-image: url('heroBackground.jpg');
    background-size: cover;
    background-position: center;
    background-position-y: 90%;
    height: 600px;
    position: relative;
    color: #fff;
  }
  
  .hero-overlay {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .section-title {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .card-img-top {
    width: 100%;
    height: 300px; 
    object-fit: contain;
  }
  
/*kviz*/
  
#quiz {
  border: 1px solid #aaa;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
}

#quiz h3 {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.valasz {
  margin: 5px 0;
}

#kerdes-sor {
  margin-top: 10px;
}

button {
  margin: 0 5px;
}
